@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Oswald:wght@200..700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #3a3a3a;
    font-family: "Oswald", sans-serif;
    background: url("../images/background.jpg") no-repeat center center/cover; 
}
h1,h2 {
    font-family: "Bangers", system-ui;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 1px;
    color: #fafafa;
}
h3,h4 {
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #2a2a2a;
    font-weight: 300;
    font-style: light;    
}
.header-container {
    width: 50%;
    text-align: center;
    padding-top: 100px;
    background-color: #fafafa;
    border-radius: 14px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);         
}
.header-container h2, h3{
    margin-top: 10px;
    color: #ff9028;
    font-size: 40px;
}
.header-container h1{
    margin-top: 10px;
    color: #ff9028;
    font-size: 50px;
    margin-bottom: 10px;
}
.header-image{
    max-width: 100%;    
}
.button-container {
    list-style-type: none;
    text-align: center;
    padding: 0;    
}
.play-button {
    display: inline-flex;
    padding: 10px 20px;
    background-color: #e99456;
    color: #3a3a3a;
    text-decoration: none;
    border-radius: 20px;
    transition: background-color 0.3s;
    margin-top: 20px ;
    margin-bottom: 20px;
    margin-left: 2px;
    margin-right: 2px;  
    font-size: 35px;  
}
.play-button:hover {
    background-color: #fafafa;    
}
.result-image img {
    width: 100px;
}
.container {
    width: 50%;    
    padding-top: 100px;    
    border-radius: 14px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    display: flex;   
    align-items: center;  
    justify-content: center; 
    background-color: #e99456;
}







  